body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  margin: 0 -15px;
  flex-wrap: wrap;
}

.col-3 {
  width: 25%;
  padding: 0 15px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

img {
  width: 100%;
}

.col-4 {
  width: 33.33%;
  padding: 0 15px;
}

.products {
  margin-top: 50px;
}

.col-6 {
  width: 66.66%;
  padding: 0 15px;
}

.filter {
  background: #eeeef2;
  padding: 20px;
  border-radius: 20px;
}